@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Rye&display=swap');

$main-color: #bc542f;
$main-light: #e86c3f;

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bbqqqq.png');
    background-attachment: fixed;
    background-size: cover;
    display: block;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;


    .logot {
        margin-top: 220px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 175px;
        }
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        color: grey;
        background-color: white;
        margin: 0;
        padding: 0;
        font-size: large;
    }

    .language-selector {

        position: absolute;
        top: 50px;
        right: 100px;

        i {
            cursor: pointer;
            font-size: 40px;
            color: white;
        }

        .lang-flag {
            position: absolute;
            right: -35%;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            transform: translateY(-10rem);
            opacity: 0;
            transition: transform 0.2s ease-out, opacity .2s .1s ease-out;

            a {
                font-size: 0;

                img {
                    width: 30px;
                    box-shadow: 0px 0px 33px -3px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 0px 0px 33px -3px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 33px -3px rgba(0, 0, 0, 0.75);
                    font-size: 0.75rem;
                }
            }


        }

        .lang-flag-active {
            transform: translateY(0.5rem);
            opacity: 1;
        }

    }




    .downtext {
        color: #F9F6F6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: large;
        text-shadow: 3px 2px rgba(159, 158, 158, 0.388);
        font-family: 'Rye', cursive;

        h1 {
            margin-top: 30px;
        }

        h2 {
            margin-top: 5px;
        }
    }

    form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;


        #langBtn {
            background-color: $main-color;
            color: white;
            border: 0;
            padding: 10px;
            width: 200px;
            border-radius: 10px;
            text-transform: uppercase;
            transition: 0.3s;
            cursor: pointer;
            font-family: 'Oswald', sans-serif;
            font-size: 1rem;
            text-decoration: none;
            text-align: center;



            &:hover {
                background-color: $main-light;
                transition: 0.2s;
            }
        }
    }

    @media screen and (width < 1075px) {

        background-position: center;


        .logot {
            margin-top: 200px;

            img {
                height: 140px;
            }
        }


        .downtext {
            color: #DBDBDB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            font-size: medium;
            text-shadow: 2px 2px rgba(159, 158, 158, 0.388);

            h1 {
                margin-top: 20px;
            }

            h2 {

                width: 350px;
                text-align: center;
            }
        }




        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            #langBtn {
                background-color: #BC542F;
                color: white;
                border: 0;
                padding: 10px;
                width: 180px;
                border-radius: 10px;
                text-transform: uppercase;
                transition: 0.3s;
                cursor: pointer;



                &:hover {
                    background-color: #e86c3f;
                    transition: 0.2s;
                }
            }




        }

        .language-selector {
            position: absolute;
            top: 20px;
            right: 30px;
        }
    }

    @media screen and (width < 800px) {
        .language-selector {
            i {
                cursor: pointer;
                font-size: 32px
            }
        }
    }

    @media screen and (width < 370px) {
        .logot {
            img {
                height: 120px;
            }
        }

        .downtext {
            h1 {
                font-size: 26px;
            }

            h2 {
                font-size: 18px;
            }
        }

        form {
            #langBtn {
                padding: 8px;
                width: 170px;
            }
        }
    }
}